<!DOCTYPE html>
<html>
    <head>
        <title>Mars Rover</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
    </head>

<body>
     <div class="container">
            <div class="container">
                <h1>Mars Rover</h1>
                <p>choose a sol, and see photos from that day on Mars via the Nasa 'Curiosity' rover.</p>
            </div>
    </div>
    <hr>
