<% include ./partials/header %>

<div class="container" style="width: 20%; margin: 25px auto;">
    <form class="form-group" action="/results" method="GET">
        <input class="form-control" type="text" placeholder="sol" name="sol"><br>
        <input class="btn btn-lg btn-primary btn-block" type="submit">
    </form>
</div>
<% include ./partials/footer %>